:root{
    /*Predefining colours for the website */
    --emphasisMainColour: #e4c1f5;
   
    --boarderMainColour:#4c0072;
    --fontSpecialColour:#99007f;

    --navMainColour:#fff;
    --navHoverColour:#C4E8B1;
    --navSecondaryColour: #D9EECE;
    --navFontColour:#226800;
}

/* BODY / PAGE DEFAULT stlying */
body {
    font-family: Arial, Helvetica, sans-serif;
}


/* NAVIGATION syling */
.navigation ul{
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;

    background-color: var(--navSecondaryColour);
    border: 1px solid var(--boarderMainColour);
    border-top: none;
}

.navigation a{
    display: block;
    text-decoration: none;
    font-weight: bold;

    padding: 0.75em 1em 0.75em 1em;
}
.navigation a, .navigation a:visited{
    color: var(--navFontColour);
}
.navigation a:hover {
    background-color: var(--navHoverColour);
}


h1 {
    font-size: 3em;
    font-family: "Courier New", Courier, monospace; 
    padding: 0.5em;

    margin-bottom: 0;
}
h2 {
    font-size: 1.5em;
    font-style: italic;
    background-color: var(--emphasisMainColour);
    padding: .5em;
    
}
 h1{
    background-color: var(--emphasisMainColour);
    font-weight: normal;

    border: 1px solid;
    
}
h1, h2, h3, h4, #contactFormContainer{
    color: var(--fontSpecialColour);

}
h1, h3, h4{
    border-color: var(--boarderMainColour);
}
h3, h4 {
    border-style: solid;
    border-bottom-width: 1px;
    
    padding: .5em;
}
em {
    font-style: normal;
    font-weight: bold;
}
strong {
    font-style: italic;
}
a:link {
    color: #609;
}
a:visited {
    color: #876399;
}
a:hover {
    color: #390;
}
ul {
    list-style: square;
}
.introduction {
    font-size: 1.5em;
    color: #72005f;
    font-style: italic;
}

/* CONTACT FORM styling*/
#contactFormContainer{
    background-color: var(--emphasisMainColour);
    font-size: 1.2em;
    border-radius: 5px;
    padding: 20px;
}

#contactFormContainer input,
#contactFormContainer select, 
#contactFormContainer textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  #contactFormContainer textarea{
    height: 10em;
  }

  /* Style the submit button with a specific background color etc */
  #contactFormContainer input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  #contactFormContainer input[type=submit]:hover {
    background-color: #45a049;
  }