/* These rules are just to make the page look presentable */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 2em;
}

.transition-links,          /*for CSS*/
.jsTransition-classes {     /*for JS*/
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center; /* main axis */
    align-items: center; /*cross axis */
}
.jsTransition-classes {
    flex-direction: column;
}


/* These rules are the ones we are interested in */
/* 1. Transitioning when user hovers on a link */

    /* Base style for the link */
    a {

        font-size: 2em;
        padding: 3em;
        text-decoration: none;
        color: #000;
        background-color: #FF944D;
        border-radius: 8px;
    }

    /* Style for the link when hovered */
    a:hover {
        background-color: #D65600;
        color: #fff;
    }

/* 2. Transitioning triggered by JavaScript */
    .target {
        padding: 3em;
        color: #fff;
        border-radius: 16px;
        font-size: 2em;
        background-color: #4B1871;
    }
    .active-target {
        font-size: 3em;
        background-color: #8A2DD2;
    }
